html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

ul {
    list-style-type: "\26BD";
    font-size: 1rem;
    line-height: 2.5;
    padding: 0px 0px 0px 0px;
    padding-left: 25px;
}